<header>
    <div class="padder">
        <nav>
            <ul>
                <li style="margin-right: auto"><a class="tripnau" routerLink="/" routerLinkActive="active"
                        ariaCurrentWhenActive="page">TripNau</a></li>
                <li><button class="my-button">Language</button></li>
                <li><a class="login" routerLink="/register" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Register</a></li>
                <li>
                    <a class="login" routerLink="/login" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</header>